@{
    ViewBag.Title = "Contact";
}
<h3>Contact Us</h3>

<div class="row">
    <div class="col-sm-2">
        <img src="~/Content/pictures/James.png" style="width: 100%; display: block; object-fit: contain;" />
    </div>
    <div class="col-sm-10">
        <h4 align="left">James Spencer</h4>
        <p align="left">Senior Software Engineer</p>
        <p align="left">JMoney@getrichordietrying.com</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <h4 align="right">Elle Miller</h4>
        <p align="right">Senior Database Administrator</p>
        <p align="right">Elle@ellerocks.com</p>
    </div>
    <div class="col-sm-2">
        <img src="~/Content/pictures/Elle.png" style="width: 100%; display: block; object-fit: contain;" />
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <img src="~/Content/pictures/Jeane.png" style="width: 100%; display: block; object-fit: contain;" />
    </div>
    <div class="col-sm-10">
        <h4 align="left">Jeane Hong</h4>
        <p align="left">Senior UI & UX Webmaster</p>
        <p align="left">Jeane@therealbilliejeane.com</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <h4 align="right">Alfred Crawford II</h4>
        <p align="right">Senior Software Architect</p>
        <p align="right">Alfred@thefademaster.com</p>
    </div>
    <div class="col-sm-2">
        <img src="~/Content/pictures/Alfred.png" style="width: 100%; display: block; object-fit: contain;" />
    </div>
</div>