@model FoodieBFCapstone.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>
<h4 align="right">Posted by: @Model.Author.FirstName @Model.Author.LastName</h4>
<h5 aling="right">Created on: @Model.CreatedOn</h5>