@model FoodieBFCapstone.Models.AdminStaticPage
@{
    ViewBag.Title = "Potpourri";
}



<div>
    <div class="col-md-10" style="">
        <h2>@Model.Title</h2>
        <p>Administrator</p>
        <h5>Written On: @Model.CreatedOn.ToShortDateString()</h5>
        <br/>
        <br/>
        <p align="justify">@Html.Raw(Model.AdminPageContent)</p>
            
        
    </div>
</div>