@model FoodieBFCapstone.UI.Models.AdminVM

@{
    ViewBag.Title = "CreatePost";
}

<h2>CreatePost</h2>

@using (Html.BeginForm("CreatePost", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <div>
            <label>Title</label>
            @Html.EditorFor(m => m.StaticPage.Title, new {HtmlAttributes = new {@class = "form-control"}})
        </div>
        <div>
            <label>Link Name</label>
            @Html.EditorFor(m => m.StaticPage.MiniTitle, new {HtmlAttributes = new {@class = "form-control"}})
        </div>
        <div>
            <label>Page Content</label>
            @Html.TextAreaFor(m => m.StaticPage.AdminPageContent, new {HtmlAttributes = new {@class = "form-control"}, @id = "Textarea"})
        </div>
        <input type="hidden" id="Created"/>
        <a href="@Url.Action("Home","Admin")" class="btn btn-primary">Cancel</a>
        <button class="btn btn-primary" type="submit">Submit</button>
        
    </div>
}

@section scripts{
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script src="~/Scripts/App/modernTinyMCE.js"></script>
}