
﻿@using System.Activities.Statements
@model List<FoodieBFCapstone.Models.BlogPost>

@{
    ViewBag.Title = "Home";
}
<br/>
<br/>
<br/>
<br/>
<br/>
<h2 align="center">Pending Articles</h2>




@foreach (var blog in Model)
{
    <label>@blog.Title</label>
    <div>@Html.Raw(@blog.PostContent)</div>
}


