body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-image: url("pictures/logoback.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}

.navbar-center .navbar-inner {
    text-align: center;
    display: inline-block;
    float: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6%;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 75%;
}

textarea {
    height: 400px;
}

.item {
    width: 200px;
    height: 150px;
    margin: 3px;
    padding: 3px;
}

    .item p {
        margin: 5px;
        padding: 5px;
    }

    .item img {
        border-radius: 6px;
    }

.centered-and-cropped {
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
    overflow: hidden;
}

.thumbnail {
    position: relative;
    width: 375px;
    height: 200px;
    overflow: hidden;
}

    .thumbnail img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

        .thumbnail img.portrait {
            width: 100%;
            height: auto;
        }

.itemsContainer {
    float: left;
    position: relative;
}

    .itemsContainer:hover .play {
        display: block;
    }

.play {
    position: absolute;
    display: none;
    top: 50%;
    width: 70px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
}

/*-----------------------------Contributor CSS Section--------------------------*/

/*changes image opacity on hover*/
.blog-Preview:hover img {
    opacity: 0.6;
}

/*displays buttons on hover*/
.blog-Preview:hover a.btn {
    display: block;
}

/*hides buttons*/
.blog-Preview a.btn {
    position: absolute;
    display: none;
}

/*positioning for new button*/
a.blog-New {
    bottom: 19%;
    left: 15%;
}

/*positioning for update button*/
a.blog-Update {
    bottom: 27%;
    left: 15%;
}

/*positioning for delete button*/
a.blog-Delete {
    bottom: 27%;
    right: 15%;
}
/*-------------for side bar-------------------*/
.sidebar {
    position: absolute;
    right: 40px;
    top: 100px; /* required as well.*/
    z-index: 1000;
    padding: 20px;
    width: 190px;
    background-color: #EB6864;
    -webkit-box-shadow: 10px 10px 26px 0px rgba(66,65,66,1);
    -moz-box-shadow: 10px 10px 26px 0px rgba(66,65,66,1);
    box-shadow: 10px 10px 26px 0px rgba(66,65,66,1);
}

    .sidebar h4 {
        margin: 0;
        color: #ffffff;
    }

    .sidebar a {
        color: #ffffff;
    }

/*---------------search bar--------------*/

.dropdown a {
    color: #ffffff;
}

/*-------------------------Flip!-------------------------------*/
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(520deg);
        transform-origin: center center;
    }

.flip-container, .front, .back {
    width: 450px;
    height: 300px;
}

/* flip speed goes here */
.flipper {
    transition: 0.9s;
    transform-style: preserve-3d;
    position: relative;
    transform-origin: center center;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}