body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 75%;
}

textarea {
    height: 400px;
}

.item {
    width: 200px;
    height: 150px;
    margin: 3px;
    padding: 3px;
}

    .item p {
        margin: 5px;
        padding: 5px;
    }

.centered-and-cropped {
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
    overflow: hidden;
}

.thumbnail {
    position: relative;
    width: 375px;
    height: 200px;
    overflow: hidden;
}

    .thumbnail img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

        .thumbnail img.portrait {
            width: 100%;
            height: auto;
        }

.itemsContainer {
    float: left;
    position: relative;
}

    .itemsContainer:hover .play {
        display: block;
    }

.play {
    position: absolute;
    display: none;
    top: 50%;
    width: 70px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
}

/*-----------------------------Contributor CSS Section--------------------------*/

.blog-Preview:hover img {
    opacity: 0.6;
}

.blog-Preview:hover a.btn {
    display: block;
}

.blog-Preview a.btn {
    position: absolute;
    display: none;
}

a.blog-New {
    bottom: 19%;
    left: 15%;
}

a.blog-Update {
    bottom: 27%;
    left: 15%;
}

a.blog-Delete {
    bottom: 27%;
    right: 15%;
}
/*-------------for side bar-------------------*/
.sidebar {
    position: absolute;
    right: 20px;
    top: 80px; /* required as well.*/
    z-index: 1000;
    padding: 20px;
    width: 190px;
    background-color: #e53c37;
    color: #ffffff;
}

    .sidebar h4 {
        margin: 0;
    }

    .sidebar a {
        color: #ffffff;
    }

/*-----for left side bar-------*/
.sidebarleft {
    position: absolute;
    left: 20px;
    top: 80px; /* required as well.*/
    z-index: 1000;
    padding: 20px;
    width: 190px;
    background-color: #e53c37;
    color: #ffffff;
}

    .sidebarleft h4 {
        margin: 0;
    }

    .sidebarleft a {
        color: #ffffff;
    }
/*---------------search bar--------------*/