USE [FoodieAndTheBlowFish]
GO
/****** Object:  StoredProcedure [dbo].[InsertBlogPost]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP PROCEDURE [dbo].[InsertBlogPost]
GO
ALTER TABLE [dbo].[SubCategories] DROP CONSTRAINT [FK_SubCategories_Categories]
GO
ALTER TABLE [dbo].[IdentityUserRole] DROP CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityUser_UserId]
GO
ALTER TABLE [dbo].[IdentityUserRole] DROP CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityRole_RoleId]
GO
ALTER TABLE [dbo].[IdentityProfile] DROP CONSTRAINT [FK_IdentityProfile_IdentityUser]
GO
ALTER TABLE [dbo].[IdentityLogin] DROP CONSTRAINT [FK_dbo.IdentityLogin_dbo.IdentityUser_UserId]
GO
ALTER TABLE [dbo].[IdentityClaim] DROP CONSTRAINT [FK_dbo.IdentityClaim_dbo.IdentityUser_UserId]
GO
ALTER TABLE [dbo].[DeniedPosts] DROP CONSTRAINT [FK_DeniedPosts_BlogPosts]
GO
ALTER TABLE [dbo].[BlogPostsTags] DROP CONSTRAINT [FK_BlogPost_Tag_Tags]
GO
ALTER TABLE [dbo].[BlogPostsTags] DROP CONSTRAINT [FK_BlogPost_Tag_BlogPosts]
GO
ALTER TABLE [dbo].[BlogPosts] DROP CONSTRAINT [FK_BlogPosts_SubCategories]
GO
ALTER TABLE [dbo].[BlogPosts] DROP CONSTRAINT [FK_BlogPosts_Statuses]
GO
ALTER TABLE [dbo].[BlogPosts] DROP CONSTRAINT [FK_BlogPosts_IdentityUser]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[Tags]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[SubCategories]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[Statuses]
GO
/****** Object:  Table [dbo].[IdentityUserRole]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[IdentityUserRole]
GO
/****** Object:  Table [dbo].[IdentityUser]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[IdentityUser]
GO
/****** Object:  Table [dbo].[IdentityRole]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[IdentityRole]
GO
/****** Object:  Table [dbo].[IdentityProfile]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[IdentityProfile]
GO
/****** Object:  Table [dbo].[IdentityLogin]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[IdentityLogin]
GO
/****** Object:  Table [dbo].[IdentityClaim]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[IdentityClaim]
GO
/****** Object:  Table [dbo].[DeniedPosts]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[DeniedPosts]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[BlogPostsTags]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[BlogPostsTags]
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[BlogPosts]
GO
/****** Object:  Table [dbo].[AdminStaticPages]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP TABLE [dbo].[AdminStaticPages]
GO
USE [master]
GO
/****** Object:  Database [FoodieAndTheBlowFish]    Script Date: 5/2/2016 9:40:22 AM ******/
DROP DATABASE [FoodieAndTheBlowFish]
GO
/****** Object:  Database [FoodieAndTheBlowFish]    Script Date: 5/2/2016 9:40:22 AM ******/
CREATE DATABASE [FoodieAndTheBlowFish]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodieAndTheBlowFish', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\FoodieAndTheBlowFish.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FoodieAndTheBlowFish_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\FoodieAndTheBlowFish_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodieAndTheBlowFish].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodieAndTheBlowFish]
GO
/****** Object:  Table [dbo].[AdminStaticPages]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AdminStaticPages](
	[AdminPageId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[MiniTitle] [varchar](20) NOT NULL,
	[AdminPageContent] [varchar](max) NOT NULL,
	[CreatedOn] [date] NOT NULL,
 CONSTRAINT [PK_AdminStaticPages] PRIMARY KEY CLUSTERED 
(
	[AdminPageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[SubCategoryId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[MainPictureUrl] [varchar](125) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[PostContent] [varchar](max) NOT NULL,
	[Summary] [varchar](255) NOT NULL,
	[CreatedOn] [date] NOT NULL,
	[PublishDate] [date] NULL,
	[ExpirationDate] [date] NULL,
	[ApprovedOn] [date] NULL,
 CONSTRAINT [PK_BlogPosts] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BlogPostsTags]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPostsTags](
	[BlogId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_BlogPost_Tag] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeniedPosts]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeniedPosts](
	[DenialId] [int] IDENTITY(1,1) NOT NULL,
	[BlogId] [int] NOT NULL,
	[Reason] [varchar](max) NOT NULL,
	[DeniedOn] [date] NOT NULL,
 CONSTRAINT [PK_DeniedPosts] PRIMARY KEY CLUSTERED 
(
	[DenialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IdentityClaim]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityClaim](
	[ClaimId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.IdentityClaim] PRIMARY KEY CLUSTERED 
(
	[ClaimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityLogin]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityLogin](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_IdentityLogin] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityProfile]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IdentityProfile](
	[UserId] [uniqueidentifier] NOT NULL,
	[FirstName] [varchar](128) NULL,
	[MiddleName] [varchar](128) NULL,
	[LastName] [varchar](128) NULL,
	[CreateBy] [uniqueidentifier] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL CONSTRAINT [DF_IdentityUserProfile_CreateDate]  DEFAULT (getutcdate()),
	[ModifyBy] [uniqueidentifier] NOT NULL,
	[ModifyDate] [smalldatetime] NOT NULL CONSTRAINT [DF_IdentityUserProfile_ModifyDate]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_IdentityProfile] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IdentityRole]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityRole](
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.IdentityRole] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityUser]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUser](
	[UserId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[CreateBy] [uniqueidentifier] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL CONSTRAINT [DF_IdentityUser_CreateDate]  DEFAULT (getutcdate()),
	[ModifyBy] [uniqueidentifier] NOT NULL,
	[ModifyDate] [smalldatetime] NOT NULL CONSTRAINT [DF_IdentityUser_ModifyDate]  DEFAULT (getutcdate()),
 CONSTRAINT [PK_dbo.IdentityUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IdentityUserRole]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IdentityUserRole](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.IdentityUserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubCategories](
	[SubCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SubCategory] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SubCategories] PRIMARY KEY CLUSTERED 
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[Tag] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BlogPosts] ON 

GO
SET IDENTITY_INSERT [dbo].[BlogPosts] OFF
GO
INSERT [dbo].[BlogPostsTags] ([BlogId], [TagId]) VALUES (1, 1)
GO
INSERT [dbo].[BlogPostsTags] ([BlogId], [TagId]) VALUES (2, 2)
GO
INSERT [dbo].[BlogPostsTags] ([BlogId], [TagId]) VALUES (2, 7)
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

GO
INSERT [dbo].[Categories] ([CategoryId], [Category]) VALUES (1, N'Recipes')
GO
INSERT [dbo].[Categories] ([CategoryId], [Category]) VALUES (2, N'Reviews')
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[IdentityProfile] ([UserId], [FirstName], [MiddleName], [LastName], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate]) VALUES (N'87e8fca7-c2fa-40d6-b9de-b226056455ac', N'Jeane', NULL, N'Hong', N'00000000-0000-0000-0000-000000000000', CAST(N'2016-04-24 00:42:00' AS SmallDateTime), N'00000000-0000-0000-0000-000000000000', CAST(N'2016-04-24 00:42:00' AS SmallDateTime))
GO
INSERT [dbo].[IdentityProfile] ([UserId], [FirstName], [MiddleName], [LastName], [CreateBy], [CreateDate], [ModifyBy], [ModifyDate]) VALUES (N'd4cdc38c-5e60-4238-9c36-bbe39ec4e018', N'Chuck', NULL, N'Norris', N'00000000-0000-0000-0000-000000000000', CAST(N'2016-04-25 13:07:00' AS SmallDateTime), N'00000000-0000-0000-0000-000000000000', CAST(N'2016-04-25 13:07:00' AS SmallDateTime))
GO
INSERT [dbo].[IdentityRole] ([RoleId], [Name]) VALUES (1, N'Admin')
GO
INSERT [dbo].[IdentityRole] ([RoleId], [Name]) VALUES (2, N'Contributor')
GO
INSERT [dbo].[IdentityRole] ([RoleId], [Name]) VALUES (3, N'User')
GO
INSERT [dbo].[IdentityUserRole] ([UserId], [RoleId]) VALUES (N'87e8fca7-c2fa-40d6-b9de-b226056455ac', 2)
GO
INSERT [dbo].[IdentityUserRole] ([UserId], [RoleId]) VALUES (N'd4cdc38c-5e60-4238-9c36-bbe39ec4e018', 2)
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

GO
INSERT [dbo].[Statuses] ([StatusId], [Type]) VALUES (1, N'Pending')
GO
INSERT [dbo].[Statuses] ([StatusId], [Type]) VALUES (2, N'Active')
GO
INSERT [dbo].[Statuses] ([StatusId], [Type]) VALUES (3, N'Inactive')
GO
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategories] ON 

GO
INSERT [dbo].[SubCategories] ([SubCategoryId], [CategoryId], [SubCategory]) VALUES (1, 1, N'Breakfast')
GO
INSERT [dbo].[SubCategories] ([SubCategoryId], [CategoryId], [SubCategory]) VALUES (3, 1, N'Lunch')
GO
INSERT [dbo].[SubCategories] ([SubCategoryId], [CategoryId], [SubCategory]) VALUES (4, 1, N'Dinner')
GO
SET IDENTITY_INSERT [dbo].[SubCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

GO
INSERT [dbo].[Tags] ([TagId], [Tag]) VALUES (1, N'Hamburger')
GO
INSERT [dbo].[Tags] ([TagId], [Tag]) VALUES (2, N'Korean food')
GO
INSERT [dbo].[Tags] ([TagId], [Tag]) VALUES (3, N'Ethiopian food')
GO
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD  CONSTRAINT [FK_BlogPosts_IdentityUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUser] ([UserId])
GO
ALTER TABLE [dbo].[BlogPosts] CHECK CONSTRAINT [FK_BlogPosts_IdentityUser]
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD  CONSTRAINT [FK_BlogPosts_Statuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([StatusId])
GO
ALTER TABLE [dbo].[BlogPosts] CHECK CONSTRAINT [FK_BlogPosts_Statuses]
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD  CONSTRAINT [FK_BlogPosts_SubCategories] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[SubCategories] ([SubCategoryId])
GO
ALTER TABLE [dbo].[BlogPosts] CHECK CONSTRAINT [FK_BlogPosts_SubCategories]
GO
ALTER TABLE [dbo].[BlogPostsTags]  WITH CHECK ADD  CONSTRAINT [FK_BlogPost_Tag_BlogPosts] FOREIGN KEY([BlogId])
REFERENCES [dbo].[BlogPosts] ([BlogId])
GO
ALTER TABLE [dbo].[BlogPostsTags] CHECK CONSTRAINT [FK_BlogPost_Tag_BlogPosts]
GO
ALTER TABLE [dbo].[BlogPostsTags]  WITH CHECK ADD  CONSTRAINT [FK_BlogPost_Tag_Tags] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([TagId])
GO
ALTER TABLE [dbo].[BlogPostsTags] CHECK CONSTRAINT [FK_BlogPost_Tag_Tags]
GO
ALTER TABLE [dbo].[DeniedPosts]  WITH CHECK ADD  CONSTRAINT [FK_DeniedPosts_BlogPosts] FOREIGN KEY([BlogId])
REFERENCES [dbo].[BlogPosts] ([BlogId])
GO
ALTER TABLE [dbo].[DeniedPosts] CHECK CONSTRAINT [FK_DeniedPosts_BlogPosts]
GO
ALTER TABLE [dbo].[IdentityClaim]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityClaim_dbo.IdentityUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUser] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityClaim] CHECK CONSTRAINT [FK_dbo.IdentityClaim_dbo.IdentityUser_UserId]
GO
ALTER TABLE [dbo].[IdentityLogin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityLogin_dbo.IdentityUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUser] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityLogin] CHECK CONSTRAINT [FK_dbo.IdentityLogin_dbo.IdentityUser_UserId]
GO
ALTER TABLE [dbo].[IdentityProfile]  WITH CHECK ADD  CONSTRAINT [FK_IdentityProfile_IdentityUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUser] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityProfile] CHECK CONSTRAINT [FK_IdentityProfile_IdentityUser]
GO
ALTER TABLE [dbo].[IdentityUserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityRole_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[IdentityRole] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityUserRole] CHECK CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityRole_RoleId]
GO
ALTER TABLE [dbo].[IdentityUserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityUser_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[IdentityUser] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IdentityUserRole] CHECK CONSTRAINT [FK_dbo.IdentityUserRole_dbo.IdentityUser_UserId]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Categories]
GO
/****** Object:  StoredProcedure [dbo].[InsertBlogPost]    Script Date: 5/2/2016 9:40:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertBlogPost] 
	-- Add the parameters for the stored procedure here
	@UserId uniqueidentifier, 
	@SubCategoryId int,
	@StatusId int,
	@MainPictureUrl varchar(125),
	@Title varchar(100),
	@PostContent varchar(max),
	@Summary varchar(255),
	@CreatedOn date,
	@PublishDate date,
	@ExpirationDate date,
	@ApprovedOn date,
	@BlogId int output
AS
BEGIN
	INSERT INTO BlogPosts (UserId, SubCategoryId, StatusId, MainPictureUrl, Title, PostContent, Summary, CreatedOn, PublishDate, ExpirationDate, ApprovedOn)
	VALUES (@UserId, @SubCategoryId, @StatusId, @MainPictureUrl, @Title, @PostContent, @Summary, @CreatedOn, @PublishDate, @ExpirationDate, @ApprovedOn);

	SET @BlogId = SCOPE_IDENTITY();

END

GO
USE [master]
GO
